In [11]:
# Import create_engine, MetaData, and Table
from sqlalchemy import create_engine, MetaData, Table, func, desc

# Create engine: engine
engine = create_engine('sqlite:///census.sqlite')
connection = engine.connect()

# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Calculating Values in a Query

Time to do some math on columns on our query. 
 - addition +
 - subtraction - 
 - division / 
 - modulus % 

Work differently on different data types

In [12]:
# Create the statement
stmt = select([census.columns.age,
              (census.columns.pop2008 
               - census.columns.pop2000).label('pop_change')
              ])

# Group the columns 
stmt = stmt.group_by(census.columns.age)

# Order the columns value according to "pop_change"
stmt = stmt.order_by(desc('pop_change'))

# Limit statement to just return the top 5 results
stmt = stmt.limit(5)

# Execute the statement
results = connection.execute(stmt).fetchall()

print(results)

[(61, 25201), (54, 23503), (55, 21716), (60, 19677), (58, 19526)]

# Case Statement

 - Used to treat data differently based on a condition 
 - Accepts a list of conditions to match and a column to return if the condition matches
 - The list of conditions ends with an else clause to determine what to do when a record doesn't match any prior conditions.

In [13]:
# Import the case statement
from sqlalchemy import case

# Create the statement
stmt = select([
    func.sum(
        case([
            # Check if this statement is true
            (census.columns.state == 'New York',
             # If is, return the value specify below
             census.columns.pop2008)
            #If not, then do the next
        ], else_= 0))])

results = connection.execute(stmt).fetchall()

print(results)

[(19465159,)]

# Cast Statement
 - When you perform operations and you need to convert a column from one type to another
 - Useful for converting:
   * integers to floats (for division)
   * strings to dates and times 
 - Accepts a column or expression and the type to which you want to convert it.

In [14]:
# Import the necessary
from sqlalchemy import case, cast, Float

# Create the statement
stmt = select([
    (func.sum(
    case([
        (census.columns.state == 'New York',
        census.columns.pop2008)
    ], else_=0)) / 
    cast(func.sum(census.columns.pop2008),
        Float) * 100).label('my_percent')
])

results = connection.execute(stmt).fetchall()

print(results)

[(6.426761976501632,)]

If we don't convert a number to float when we do division, it will perform floor or integer division and we will get 0 back.

This connection string is going to start with **'mysql+pymysql://'**, indicating which *dialect and driver* you're using to establish the connection. 

The dialect block is followed by the **'username:password'** combo. 

Next, you specify the host and port with the following **'@host:port/'**. 

Finally, you wrap up the connection string with the **'database_name'**

In [22]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# Print the table names
print(engine.table_names())

# Make a connection
connection = engine.connect()

# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

['census', 'state_fact']

In [16]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state,
              (census.columns.pop2008 
               - census.columns.pop2000).label('pop_change')
              ])

# Append group by for the state: stmt_grouped
stmt_grouped = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt_ordered
stmt_ordered = stmt_grouped.order_by(desc('pop_change'))

# Return only 5 results: stmt_top5
stmt_top5 = stmt_ordered.limit(5)

# Use connection to execute stmt_top5 and fetch all results
results = connection.execute(stmt_top5).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

In [18]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of women in 2000: stmt
stmt = select([female_pop2000 / total_pop2000* 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

51.09467432293413

# SQL Relationships

Tables can be related to one another via columns that act as a bridge between the tables. 

## Relationships

Allow us to avoid duplicate data

Make it wasy to change things in one place

Useful to break out information from a table we don't need very often

In [24]:
# Create the statement with both tables
stmt = select([census.columns.pop2008,
              state_fact.columns.abbreviation])

# Execute the statement
results = connection.execute(stmt).fetchall()

# Print the results
print(results[:10])

[(95012, 'IL'), (95012, 'NJ'), (95012, 'ND'), (95012, 'OR'), (95012, 'DC'), (95012, 'WI'), (95012, 'AZ'), (95012, 'AR'), (95012, 'CO'), (95012, 'HI')]

## Join

To add a relationship that isn't necessarily predefined in a query

Accepts a Table and an optional expression that explains how the two tables are related

The expression is not needed if the relationship is predefined and available via reflection

Commes immediately after the **select()** clause and prior to any **where()**, **order_by()**, **group_by()** clauses

## Select_from

Used to replace the default, derived FROM clause with a join.

Wraps the **join()** clause

In [26]:
# Create the statement
stmt = select([func.sum(census.columns.pop2000)])

# Append the select_from method 
stmt = stmt.select_from(census.join(state_fact))

# Where clause to find only specific records
stmt = stmt.where(state_fact.columns.circuit_court == '10')

# Result the connection
result = connection.execute(stmt).scalar()

# Print the results
print(result)

NoForeignKeysError: Can't find any foreign key relationships between 'census' and 'state_fact'.

### Joining Tables without Predefined Relationship

Join accepts a Table and an optional expression that explains how the two tables are related
 - Same boolean expression as used on the **Where()** clause

Will only join rows from each table that can be related between the two columns

Avoid joining on columns of different types

In [29]:
# Create the statement
stmt = select([func.sum(census.columns.pop2000)])

# Append a select_from to include the join
stmt = stmt.select_from(census.join(state_fact, census.columns.state
                                   == state_fact.columns.name))
"""We specify the table and a condition that matches rows
based on the state column of the census table and the name 
of the column state_fact table""" 
# Add a where clause to search a specific data type
stmt = stmt.where(state_fact.columns.census_division_name
                 == 'East South Central')

# Execute the Query
result = connection.execute(stmt).scalar()

# Print the results
print(result)

20994661

If you have two tables that already have an established relationship, you can automatically use that relationship by just adding the columns we want from each table to the select statement.

In [30]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

If you aren't selecting columns from both tables or the two tables don't have a defined relationship, you can still use the **.join()** method on a table to join it with another table and get extra data related to our query. 

The **join()** takes the table object you want to join in as the first argument and a condition that indicates how the tables are related to the second argument. 

Finally, you use the **.select_from()** method on the select statement to wrap the join clause.

In [32]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt_join = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt_join).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

In [33]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt_joined = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt_grouped = stmt_joined.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt_grouped).fetchall()

# Loop over the results object and print each record.
for record in results:
    print(record)

('Alabama', Decimal('4681422'), 'East South Central')
('Alaska', Decimal('664546'), 'Pacific')
('Arizona', Decimal('10698743'), 'Mountain')
('Arkansas', Decimal('4343608'), 'West South Central')
('California', Decimal('56952946'), 'Pacific')
('Colorado', Decimal('7474086'), 'Mountain')
('Connecticut', Decimal('3727540'), 'New England')
('Delaware', Decimal('869221'), 'South Atlantic')
('Florida', Decimal('20339477'), 'South Atlantic')
('Georgia', Decimal('9622508'), 'South Atlantic')
('Hawaii', Decimal('1250676'), 'Pacific')
('Idaho', Decimal('1518914'), 'Mountain')
('Illinois', Decimal('16274391'), 'East North Central')
('Indiana', Decimal('7378168'), 'East North Central')
('Iowa', Decimal('3000490'), 'West North Central')
('Kansas', Decimal('4045759'), 'West North Central')
('Kentucky', Decimal('4525061'), 'East South Central')
('Louisiana', Decimal('5183486'), 'West South Central')
('Maine', Decimal('2018932'), 'New England')
('Maryland', Decimal('7246747'), 'South Atlantic')
('Massachusetts', Decimal('6492024'), 'New England')
('Michigan', Decimal('14154883'), 'East North Central')
('Minnesota', Decimal('6922744'), 'West North Central')
('Mississippi', Decimal('4560123'), 'East South Central')
('Missouri', Decimal('7836564'), 'West North Central')
('Montana', Decimal('1172060'), 'Mountain')
('Nebraska', Decimal('2348009'), 'West North Central')
('Nevada', Decimal('3925294'), 'Mountain')
('New Hampshire', Decimal('1949141'), 'New England')
('New Jersey', Decimal('8670204'), 'Mid-Atlantic')
('New Mexico', Decimal('3263613'), 'Mountain')
('New York', Decimal('26837888'), 'Mid-Atlantic')
('North Carolina', Decimal('9121606'), 'South Atlantic')
('North Dakota', Decimal('634282'), 'West North Central')
('Ohio', Decimal('16565266'), 'East North Central')
('Oklahoma', Decimal('4736015'), 'West South Central')
('Oregon', Decimal('4901890'), 'Pacific')
('Pennsylvania', Decimal('17277878'), 'Mid-Atlantic')
('Rhode Island', Decimal('1096276'), 'New England')
('South Carolina', Decimal('4438870'), 'South Atlantic')
('South Dakota', Decimal('800997'), 'West North Central')
('Tennessee', Decimal('8524299'), 'East South Central')
('Texas', Decimal('39829923'), 'West South Central')
('Utah', Decimal('2730919'), 'Mountain')
('Vermont', Decimal('820523'), 'New England')
('Virginia', Decimal('9593860'), 'South Atlantic')
('Washington', Decimal('8080837'), 'Pacific')
('West Virginia', Decimal('1812879'), 'South Atlantic')
('Wisconsin', Decimal('7518844'), 'East North Central')
('Wyoming', Decimal('653500'), 'Mountain')

# Working with Hierarchical Tables

There are also tables that join with themselves
 - Called **self-referential** or **hierarchical**
 
Contain a relationship with themselves

Commonly found in:
 - Store organizational charts
 - Geographic data
 - Networks
 - Relationships graphs

The **alias()** method allows us to create a way to refer to the same table with two unique names. 
 - Creates a unique reference that we can use

In [47]:
# Import create_engine, MetaData, and Table
from sqlalchemy import create_engine, MetaData, Table, func, desc

# Create engine: engine
engine = create_engine('sqlite:///employees.sqlite')
connection = engine.connect()

# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
employees = Table('employees', metadata, autoload=True, autoload_with=engine)

In [48]:
managers = employees.alias()

# Create the statement
stmt = select([
    managers.columns.name.label('manager'),
    employees.columns.name.label('employee')
])

# Join the tables Manager and Employee
stmt = stmt.select_from(
    employees.join(managers, managers.columns.id == 
                   employees.columns.mgr))

# Order the columns by the manager's name
stmt = stmt.order_by(managers.columns.name)

# Execute the statement
result = connection.execute(stmt).fetchall()

# Print the result
print(result)

[('FILLMORE', 'GRANT'), ('FILLMORE', 'ADAMS'), ('FILLMORE', 'MONROE'), ('GARFIELD', 'JOHNSON'), ('GARFIELD', 'LINCOLN'), ('GARFIELD', 'POLK'), ('GARFIELD', 'WASHINGTON'), ('HARDING', 'TAFT'), ('HARDING', 'HOOVER'), ('JACKSON', 'HARDING'), ('JACKSON', 'GARFIELD'), ('JACKSON', 'FILLMORE'), ('JACKSON', 'ROOSEVELT')]

Hierarchical tables can get tricky when performing **group_by()** or using **func**.

It's important to think of it as if it were two different tables. 

It's important to target **group_by()** at the right alias. 

Be careful with that you perform functions on 

If you don't find yourself using both the alias and the table name for a query, don't create the alias at all.

In [50]:
managers = employees.alias()

stmt = select([
    managers.columns.name,
    func.sum(employees.columns.sal)
])

stmt = stmt.select_from(
    employees.join(
    managers, managers.columns.id ==
    employees.columns.manager))

stmt = stmt.group_by(managers.columns.name)

print(connection.execute(stmt).fetchall())

AttributeError: manager

In [46]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and their employees: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt_matched
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt_ordered
stmt_ordered = stmt_matched.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_ordered).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE', 'GRANT')
('FILLMORE', 'ADAMS')
('FILLMORE', 'MONROE')
('GARFIELD', 'JOHNSON')
('GARFIELD', 'LINCOLN')
('GARFIELD', 'POLK')
('GARFIELD', 'WASHINGTON')
('HARDING', 'TAFT')
('HARDING', 'HOOVER')
('JACKSON', 'HARDING')
('JACKSON', 'GARFIELD')
('JACKSON', 'FILLMORE')
('JACKSON', 'ROOSEVELT')

In [52]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt_grouped = stmt_matched.group_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_grouped).fetchall()

# print manager
for record in results:
    print(record)

('FILLMORE', 3)
('GARFIELD', 4)
('HARDING', 2)
('JACKSON', 4)

In [55]:
print(repr(employees))

Table('employees', MetaData(bind=None), Column('id', INTEGER(), table=<employees>, primary_key=True, nullable=False), Column('name', VARCHAR(length=20), table=<employees>), Column('job', VARCHAR(length=20), table=<employees>), Column('mgr', INTEGER(), table=<employees>), Column('hiredate', DATETIME(), table=<employees>), Column('sal', NUMERIC(precision=7, scale=2), table=<employees>), Column('comm', NUMERIC(precision=7, scale=2), table=<employees>), Column('dept', INTEGER(), table=<employees>), schema=None)

# Handling Large ResultSets

Dealing with large result sets can be problematic, as we might run out of memory or disk space to store the results. 

**fetchmany()** - let us specify how many rows we want to act upon
 - We can loop over it
 - It returns an empty lsit where there are no more records
 - We have to close the ResultProxy afterwards

In [57]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

NameError: name 'more_results' is not defined